:root {
  --point--color1: #fce8c3;
  --point--color2: #f0002e;
  --txt-color-400: #767676;
  --txt-color-500: #121212;
  --txt-color-600: #fff;
}
.App {
  background: var(--txt-color-500);
}
#chat2 {
  background-color: var(--txt-color-500);
}
.App {
  margin: 0 auto;
  padding: 0 20px;
}
.start_tit {
  margin-top: 10px;
}
input[type=text] {
  border-radius: 5px;
  border: 1px solid #bbb;
  height: 40px;
}
.start_btn {
  border-radius: 5px;
  border: 1px solid #eee;
  width: 120px;
  line-height: 40px;
  background-color: #0d6efd;
  color: #fff;
  font-weight: 700;
}